 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/">GoWik</a>
    <form method="GET" class="navbar-form pull-left" style="margin:0 10px 0 0">
    <input type="hidden" name="mode" value="list">
    <button type="submit" class="btn">Pages</button>
    </form>
{{if .Special}}
{{else}}
    <form method="GET" class="navbar-form pull-left" style="margin:0 10px 0 0">
    <input type="hidden" name="mode" value="edit">
    <button type="submit" class="btn">Edit</button>
    </form>
    <form method="GET" class="navbar-form pull-left" style="margin:0 10px 0 0">
    <input type="hidden" name="mode" value="delete">
    <button type="submit" class="btn">Delete</button>
    </form>
{{end}}
    <form class="navbar-form pull-left" method="GET" action="/" style="margin:0 10px 0 0">
    <input type="hidden" name="mode" value="search">
    <input class="span2" type="text" placeholder="terms" name="terms">
    <button type="submit" class="btn">Search</button>
    </form>
{{if .AuthRequired}}
{{if .Authenticated}}
   <form class="navbar-form pull-right" action="/" method="POST">
   <input type="hidden" name="mode" value="logout">
   <button type="submit" class="btn">Logout</button>
   </form>
{{else}}
    <form class="navbar-form pull-right" method="POST" action="/">
      <input type="hidden" name="mode" value="login">
      <input class="span2" type="text" placeholder="Username" name="user">
      <input class="span2" type="password" placeholder="Password" name="pass">
    <button type="submit" class="btn">Log in</button>
    </form> {{end}} {{end}}
</div>
</div>
</div>

